/* Import Fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-secondary: #1afb15;
  --color-yellow-light: #fffa04;
  --color-yellow-dark: #e8b224;
  --text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.366);
}

body {
  background-color: #090649;
  background: radial-gradient(#0b0576, #05023c);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  cursor: default;
}

/* Main Container to hold flier */
main {
  width: 100%;
  max-width: 580px;
  background-color: #0b0576;
  background: url("/assets/images/background-image.webp");
  overflow: hidden;
  border-radius: 10px;
  transition: 0.4s ease-in;

  &:hover {
    rotate: 0deg;
    scale: 0.97;
    box-shadow: 0px 25px 80px #0d05b0;
  }
}

header {
  padding: 40px 0px 0px 40px;
}

.header-logo {
  width: 6rem;
  transition: 0.4s ease-in;

  &:hover {
    scale: 0.9;
  }
}

.content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.content-image-box {
  width: 50%;
  position: relative;
}

.content-image {
  width: 100%;
  scale: 175%;
  z-index: 50;
  position: absolute;
  top: 10.7rem;
  left: -1rem;
  filter: saturate(1) contrast(1.5);
  transition: 0.4s ease-in;

  &:hover {
    filter: saturate(1.3) contrast(1.6);
  }
}

.content-text-box {
  text-align: right;
  width: 60%;
}

.content-copy-box {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  color: white;
}

.top-title {
  font-size: 48px;
  line-height: 2.5rem;
  transition: 0.4s ease-in;

  &:hover {
    color: var(--color-yellow-light) !important;
  }
}

.top-title,
.bottom-title,
.bottom-title span {
  font-family: "League Gothic", sans-serif !important;
  font-weight: 500;
  text-shadow: var(--text-shadow);
}

.green {
  color: var(--color-secondary);
  transition: 0.3s ease-in;

  &:hover {
    color: var(--color-yellow-light);
  }
}

.bottom-title {
  font-size: 6rem;
  line-height: 5rem;
  transition: 0.4s ease-in;

  &:hover {
    color: var(--color-secondary);
  }
}

/* Features List and CTA */
.features-copy-box {
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.71);
  rotate: 7deg;
  width: fit-content;
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: 0.4s ease-in;

  &:hover {
    rotate: 0deg;
    scale: 0.9;
  }
}

.cta-box {
  background-color: var(--color-yellow-light);
  box-shadow: inset 1px 3px 7px var(--color-yellow-dark);
  border-radius: 8px;
  padding: 8px;
  font-size: 12px;
  text-align: center;

  transition: 0.4s ease-in;

  &:hover {
    rotate: 0deg;
    scale: 0.9;
  }
}

.offering-list {
  text-align: left;
  font-size: 10px;
  padding: 10px 15px;

  li {
    margin-left: 10px;
  }
}

/* Footer Section */
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  border-top: 3px solid black;
  background-color: white;
  padding: 15px 30px 30px 30px;
  font-size: 12px;
}

.author-detail-box {
  text-align: center;
  h3 {
    font-style: italic;
    font-size: 16px;
  }

  p {
    font-size: 10px;
  }
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.what-to-do-box {
  position: relative;
}

.what-to-do {
  background-color: white;
  width: fit-content;
  padding: 8px;
  border-radius: 8px;
  box-shadow: inset 3px 6px 20px rgba(0, 0, 0, 0.427);
  position: absolute;
  font-size: 10px;
  rotate: 9deg;
  transform: translateY(-50px);

  transition: 0.4s ease-in;

  &:hover {
    rotate: 0deg;
    scale: 0.9;
  }
}

.what-to-do li {
  list-style-type: none;
}
