/* Import Fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color-secondary: #1afb15;
  --color-yellow-light: #fffa04;
  --color-yellow-dark: #e8b224;
  --text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.366);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background: radial-gradient(#0b0576, #05023c);
  background-color: #090649;
  cursor: default;
}

aside a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 200;
}

/* Main Container to hold flier */
main {
  overflow: hidden;
  width: 100%;
  max-width: 580px;
  border-radius: 10px;
  background: url("/assets/images/background-image.webp");
  background-color: #0b0576;
  transition: 0.4s ease-in;

  &:hover {
    box-shadow: 0px 25px 80px #0d05b0;
    scale: 0.97;
  }
}

header {
  padding: 40px 0px 0px 40px;
}

.header-logo {
  width: 6rem;
  transition: 0.4s ease-in;

  &:hover {
    scale: 0.9;
  }
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3rem;
}

.content-image-box {
  position: relative;
  width: 50%;
}

.content-image {
  position: absolute;
  top: 10.7rem;
  left: -1rem;
  z-index: 50;
  width: 100%;
  filter: saturate(1) contrast(1.5);
  transition: 0.4s ease-in;
  scale: 175%;

  &:hover {
    filter: saturate(1.3) contrast(1.6);
  }
}

.content-text-box {
  width: 60%;
  text-align: right;
}

.content-copy-box {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 0rem;
}

.top-title {
  font-size: 48px;
  line-height: 2.5rem;
  transition: 0.4s ease-in;

  &:hover {
    color: var(--color-yellow-light) !important;
  }
}

.top-title,
.bottom-title,
.bottom-title span {
  font-family: "League Gothic", sans-serif !important;
  font-weight: 500;
  text-shadow: var(--text-shadow);
}

.green {
  color: var(--color-secondary);
  transition: 0.3s ease-in;

  &:hover {
    color: var(--color-yellow-light);
  }
}

.bottom-title {
  font-size: 6rem;
  line-height: 5rem;
  transition: 0.4s ease-in;

  &:hover {
    color: var(--color-secondary);
  }
}

/* Features List and CTA */
.features-copy-box {
  overflow: hidden;
  width: fit-content;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 40px;
  border-radius: 8px;
  background-color: white;
  transition: 0.4s ease-in;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.71);
  rotate: 7deg;

  &:hover {
    rotate: 0deg;
    scale: 0.9;
  }
}

.cta-box {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--color-yellow-light);
  font-size: 12px;
  text-align: center;
  box-shadow: inset 1px 3px 7px var(--color-yellow-dark);

  transition: 0.4s ease-in;

  &:hover {
    rotate: 0deg;
    scale: 0.9;
  }
}

.offering-list {
  padding: 10px 15px;
  font-size: 10px;
  text-align: left;

  li {
    margin-left: 10px;
  }
}

/* Footer Section */
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px 30px 30px 30px;
  border-top: 3px solid black;
  background-color: white;
  font-size: 12px;
  gap: 15px;
}

.author-detail-box {
  text-align: center;

  h3 {
    font-size: 16px;
    font-style: italic;
  }

  p {
    font-size: 10px;
  }
}

footer a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.what-to-do-box {
  position: relative;
}

.what-to-do {
  position: absolute;
  width: fit-content;
  padding: 8px;
  border-radius: 8px;
  background-color: white;
  font-size: 10px;
  transform: translateY(-50px);
  box-shadow: inset 3px 6px 20px rgba(0, 0, 0, 0.427);
  rotate: 9deg;

  transition: 0.4s ease-in;

  &:hover {
    rotate: 0deg;
    scale: 0.9;
  }
}

.what-to-do li {
  list-style-type: none;
}

/* Media Query - Scale down based on Tablet and Mobile */
@media screen and (max-width: 800px) {
  main {
    scale: 1;

    &:hover {
      box-shadow: 0px 25px 80px #0d05b0;
      scale: 0.95;
    }
  }
}

/* MOBILE PHONE SCALE DOWN */
@media screen and (max-width: 480px) {
  main {
    scale: 0.9 !important;
  }

  .top-title {
    font-size: 2rem;
  }

  .bottom-title {
    font-size: 3.5rem;
    line-height: 0.9;
    text-align: right;
  }

  .content-image {
    top: 7.4rem;
    scale: 200%;
  }

  .cta-box {
    padding: 5px;
    font-size: 7px;
  }

  .offering-list {
    padding: 6px;
    font-size: 7px;

    h3 {
      font-size: 7px;
    }
  }

  .author-detail-box {
    h3 {
      font-size: 13px;
    }

    p {
      font-size: 8px;
    }
  }

  .author-contact-detail-box {
    p {
      font-size: 10px;
    }
  }

  .what-to-do {
    font-size: 7px;
    transform: translateY(-30px);
  }
}
